.main-container{
    padding: 30px;
}
.todos-bg-container {
    background-color: #f9fbfe;
    height: 100vh;
}

.todos-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 46px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.create-task-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout{
    color: #e91e63;
}
.create-task-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.todo-items-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
}

.todo-items-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.todo-items-container {
    margin: 0;
    padding: 0;
}

.todo-item-container {
    margin-top: 15px;
    display: flex;
}

.todo-user-input {
    background-color: white;
    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    font-weight: 600;
    outline: none;
}


.label-container {
    background-color: #efcbea;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #f50b9c;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.checkbox-input {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
    accent-color:#e91e63;
}

.checkbox-data{
    display: flex;
    flex-direction: column;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    width: 82%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
.checkbox-label-desc {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    width: 82%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}

.delete-icon {
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
}
.button1{
    background-color: #e91e63;
    color: white;
    font-weight: 300;
    margin-top: 10px;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    outline: none;
    cursor: pointer;
}
.update{
    margin-left: 10px;
}